@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
	margin      : 0px auto;
	padding     : 0;
	background  : #222;
	font-family : "Source Sans Pro","sans-serif";
	font-size   : 1.0em;
	color       : #666;
}
* {
	margin  : 0;
	padding : 0;
}

code, blockquote {
	display       : block;
	border-left   : 5px solid #ddd;
	padding       : 10px;
	margin-bottom : 20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:2.0em;
	margin-bottom:20px;
}
a {
	color:#6FAB4F;
}
a:hover {
	color:#000;
}
a:focus {
	outline:none;
}
a.button {
  background-color : #80B763;
  border-radius    : 5px;
  color            : #FFFFFF;
  display          : inline-block;
  font-weight      : bold;
  padding          : 8px 22px;
  font-size        : 0.8em;
  letter-spacing   : 0.25px;
  text-decoration  : none;
  text-transform   : uppercase;
}

a.button-reversed {
  background-color: #333;
}

a.button:hover {
	background-color: #669D48;
}

a.button-reversed:hover {
	background-color: #222;
}
h1 {
	font-size:2.4em;
}
h2 {
	color:#2f2f2f;
	font-size:1.8em;
	font-weight:bold;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#80B763;
	font-size:1.6em;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#000;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#666666;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}

.width {
	width:auto;
	margin: 0 auto;
}

header {
	padding:30px 17px 30px;
	margin:0 auto;
}
header h1 {
	text-align: right;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	letter-spacing:-2px;
}

header h2 {
	color:#C4DDB6;
	text-align: right;
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom:0;
	letter-spacing:0;
}

/* body */
section#body {
	padding: 0;
}


/* content and sidebar */
section#content {
	margin-left: 250px;
	padding: 20px;
	background-color: #fff;
	top: 0;
	bottom: 0;
}
.column-left {
  left:0;
}
.column-right {
  margin-left: 250px;
  right: 0;
  float: right;
}
aside#sidebar {
	width:250px;
	position: fixed;
	background: #80B763;
}
nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#mainnav li {
	padding:0;
	border-bottom: 1px solid #99C581;
	border-top: 1px solid #6FAB4F;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#80B763;
	font-weight:bold;
	background: #fff;
}
nav#mainnav li a:hover {
	background:#669D48;
	color: #fff;
	text-decoration:none;
}
nav#mainnav li a {
	color: #f0f0f0;
	display: block;
	padding: 15px 17px;
	text-align: right;
	font-weight:  bold;
	text-decoration: none;
}

article {
    padding     : 10px 10px 30px;
	font-size     : 1.2em;
  border-bottom : 1px solid #eee;
 }

article h2 {
  padding-bottom : 0;
	line-height    : 1.1em;
	letter-spacing : -2px;
  font-size      : 2.5em;
}

article .article-info {
  color     : #C0c0c0;
  font-size : 0.92em;
  padding   : 0px 0px 10px;
}

article .article-info a {
	color: #ccc;
}

/* graphs */
.benchgraph-chart {
  float: left;
  cursor: pointer;
}
.c3-axis-x-label {
  font-size: 14px;
  font-weight: bold;
}

/* clear fix */
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}
